@import url('https://fonts.googleapis.com/css?family=McLaren');

/* variáveis */
:root {
    --cor-fundo-pagina: #e6f6eb;
    --cor-facebook-icone: #3b5998;
    --cor-whatsapp-icone: #25d366;
}

body {
    background-color: var(--cor-fundo-pagina);
    font-family: 'McLaren', sans-serif;
    height: 100%;
}

/* imagem do carousel */
.carousel-item img {
    height: 300px;
}

/* imagem do card */
.card img {
    height: 350px;
}

.card .produto-relacionado {
    height: 250px;
}

.card .equipe {
    height: 250px;
}

/* cores ícones */
.cor-facebook-icone {
    background-color: var(--cor-facebook-icone);
}

.cor-whatsapp-icone {
    background-color: var(--cor-whatsapp-icone);
}

/* chat */
.chat {
    position: fixed;
    bottom: 0px;
    right: 20px;
    width: 350px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    z-index: 1;
}

.chat .chat-header {
    padding: 10px;
    background-color: #f5f5f5;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}

.chat .chat-body {
    padding: 10px;
    height: 300px;
}

.chat .chat-footer {
    padding: 10px;
    border-top: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
}