/* Remove espaçamento do container */
/*.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    padding-right: 0px !important;
    padding-left: 0px !important;
}*/

* {
    padding: 0px;
    margin: 0px;
    border: 0px;
    box-sizing: border-box;
}